*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: tan;
    font-family: 'Azeret Mono',sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}
img{
    max-width: 100%;

}

.container{
    max-width: 1200px;
    margin:  0 auto;
    padding: 0 15px;
}
.menu-title{
text-align: center;
    margin: 20px;
}
.row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
gap: 10px;

}
.search{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.box{
    padding-top: 20px ;
    text-align: center;
    transition: .4s;

}
.box:hover{
    box-shadow:0 0 8px 3px #d6d6d6 ;
}
.box h3 {
    padding: 20px;
}
.search-input{
    width: 250px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px 0 0 8px;
}

.search-link{

    font-size: 13px;
    padding: 6px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 0 8px   8px 0 ;

}
.search-link i {
    background-color: #F6F6f6;
}

/*----------MealDetails-------*/

.mealDetails-right-side p {
    font-size: 12px;
    margin-top: 10px;
}
.mealDetails-left-side{
    text-align: center;
}
.mealDetails-title{
    text-align: center;
    margin-bottom: 20px ;
}
.mealDetails-ingredients{
    display: flex;
}
.mealDetails-img{
    border-radius: 18px;
    margin-bottom: 10px;
}
.ingredient-title{
    font-size: 14px;
    margin: 10px;
}
.youtube-instructions{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.mealDetails-right-side{
    margin-left: 10px;
}
.mealDetails-right-side h3{
   text-align: center;
    font-size: 25px;
}
.back{
    position: fixed;
    font-size: 25px;
    border: none;
    margin: 20px 0 0 20px;
    background: none;
}

/*----------Browse-------*/
.browse-title {
    padding: 10px;
    text-align: center;
    margin-top:10px;
}
.browse-img{
    margin-bottom: 10px;
}
.browse-back{

    font-size: 25px;
    border: none;
margin-top: 10px;
    background: none;
}

/*----------Ingredient-------*/
.box h4 {
    padding: 20px;
}
.ingBigImg{
    text-align: center;
    margin-bottom: 10px;
}
.ing-back{
    font-size: 25px;
    border: none;
    margin: 20px 0 0 20px;
    background: none;
}